/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  max-width: 696px;
  font-family: var(--main-font), var(--accent-font), sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  min-inline-size: 320px;
  block-size: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-inline: auto;
}

.header {
  border: var(--border-line);
  background-color: var(--background-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-size);
  padding-bottom: var(--header-size);
  margin: 100px 0 97px;
}

.header__title {
  font-size: var(--title-size);
  line-height: 100%;
  margin-bottom: 20px;
}

.header__subtitle {
  display: flex;
  justify-content: center;
  font-size: var(--subtitle-size);
}

.main {
  box-sizing: border-box;
  display: grid;
  gap: 50px;
}

.section {
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: var(--border-line);
  margin-inline: auto;
  max-width: 696px;
}

.image {
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  box-sizing: border-box;
  position: relative;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
}

.card__wrapper {
  padding: 25px;
}

.picture {
  display: flex;
  width: 100%;
  object-fit: cover;
  /*------------из за того, что нужно сделать в проекте картинки квадратыми, теряется текст в мемах =( --------*/
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__logo {
  font-family: var(--accent-font);
  top: 25px;
  right: 25px;
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  opacity: 50%;
  font-size: 14px;
  text-shadow: 0 0 1px white;
}

@supports (
  ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) and
    (mix-blend-mode: hard-light)
) {
  .card__logo {
    text-shadow: none;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    mix-blend-mode: hard-light;
  }
}

.card__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 120%;
  font-variation-settings: "wght" var(--text-weight);

}

.card__text:last-of-type {
  margin-bottom: 0;
}

.button__zone {
  display: flex;
  justify-self: end;
  align-items: end;
  margin-top: 25px;
}

button:not(.card__icon-button) {
  background-color: var(--background-color);
  font-family: var(--accent-font);
  min-width: 130px;
  height: 38px;
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #000;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button:not(.card__icon-button)::after {
  content: "";
  color: white;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
}

button:not(.card__icon-button):hover::after {
  transform: translateX(0);
}

button:not(.card__icon-button):focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

button svg:not(.card__icon-button) {
  color: black;
  position: relative;
  z-index: 2;
}

.button__text {
  color: black;
  position: relative;
  z-index: 2;
  font-size: 14px;
}

@supports ((mix-blend-mode: difference)) {
  .button__text {
    color: #fff;
    mix-blend-mode: difference;
  }

  .button svg:not(.card__icon-button) {
    color: #fff;
    mix-blend-mode: difference;
  }
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: white;
  height: 38px;
  padding: 0;
  margin-right: 6px;
  cursor: pointer;
}

.card__icon-button:focus-visible{
  border: var(--border-line);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.footer__button {
  width: 335px;
  min-height: 55px;
  padding: 17px 0px;
}

.dialog {
  font-family: var(--accent-font);
  padding: 29px 27px;
  max-width: 353px;
  border: var(--border-line);
}

.dialog-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog-text {
  max-width: 260px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body:has(dialog[close]) {
  overflow: hidden;
}

.dialog-button {
  width: 100%;
  min-height: 38px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-button .button__text {
  text-transform: uppercase;
}

/*-------------------------------------------------*/

@media (width <= 768px) {
  .dialog {
    padding: 28px 42px;
    max-width: 345px;
  }

  .footer__button {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .footer__button svg {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
}

/* -------------ФИЛЬТРЫ------------------*/

.filter__brightness {
  filter: brightness(80%);
}

.filter_grayscale {
  filter: grayscale(50%);
}

.filter__contrast-invert {
  filter: contrast(50%) invert(100%);
}

.filter__hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter__opacity {
  filter: opacity(80%);
}

.filter__sepia {
  filter: sepia(40%);
}

.filter__invert {
  filter: invert(100%);
}
